*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cataraman;
}

nav{
    background-color: #000;
    height: 100px;
    width: 100%;
    display: block;
    position: fixed; 
    z-index: 42;
}

.header-list{
    float: right;
    margin-right: 70px;
}

nav ul li{
    list-style: none;
    color: white;
    display: inline-block;
    line-height: 100px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 13px;
    margin: 0 10px;
}

nav ul li a:hover{
    text-decoration: none;
    color: #ccc;
}

nav .logo{
    line-height: 100px;
    padding: 0 90px
}

.inline-block{
    display: inline-block;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 100px;
    margin-right: 70px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width:1199px){
    nav .logo{
        padding: 0 0 0 40px;
    }

    .list-ul li a{
        margin: 0 4px;
        font-size: 12px;
        letter-spacing: 2px;
    }

    .header-list{
        margin-right: 50px ;
    }
}

@media (max-width: 991px){
    nav .logo{
        padding: 0 0 0 20px;
    }

    .list-ul li a{
        font-size: 11px;
        margin: 0 2px;
        letter-spacing: 1px;
    }

    .header-list{
        margin-right: 10px ;
    }
}

@media (max-width: 767px){
    .checkbtn{
        display: block;
    }

    .list-ul{
        position: fixed;
        width: 100%;
        background: rgba(0,0,0, 0.5);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .list-ul li{
        display: block;

    }
    #check:checked ~ .header-list ul{
        left: 0;
    }
}

.banner-area{
    width: 100%;
    background-color: #262626;
    position: absolute;
    top: 100px;
    color: #fff;
    background-image: url(unnamed.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode:darken;
}

.mt-50{
    margin-top: 50px ;
    
}

.mt-150{
    margin-top: 150px;
}

.carousel-height{
    height: 37rem;
}

.mgspng{
    height: 550px;
    position: absolute;
    right: 30px;
    top: -10px;
}

.msgpng2{
    height: 550px;
    opacity: 0.9;
    position: absolute;
    left: 70px;
}

.baslik{
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-align: left;
}

.baslik2{
    font-weight: 500;
    font-size: 50px;
    text-align: right;
}

.icerik{
    margin-top: 20px;

}

.header-top{
    position: absolute;
    top: 765px;
    width: 100%;
}

.yazi-ortala{
    text-align: center;
}

.yazi-hizala{
    text-align: justify;
}

.ust-alt-margin{
    margin: 70px auto;
}

.middle-texts{
    margin-top: 50px;
    font-family: Catamaran;
}

.fall-out{
    opacity: 0;

    transform: translateY(-100px);

    transition: all 3s ease-in-out;
}

.fall-out.is-visible{
    opacity: 1;

    transform: translateY(0);
}

.text-settings{
   
    padding: 40px 0 60px;
}

.text-settings h4{
    font-weight: 500;
    font-family: Roboto;
    margin-bottom: 15px;
}

.text-settings p{
    font-size: 14px;
    font-family: Catamaran;
}

.mt-20{
    margin-top: 30px;
}

.intermediate-layer{
    width: 100%;
    background-color: #e9e9e9;
}

.fade-in-left{
    opacity: 0;
    transform: translateX(-150px);

    transition: all 3s ease-in-out;
}

.fade-in-left.is-visible{
    opacity: 1;
    transform: translateX(0);
}

.fade-in-right{
    opacity: 0;
    transform: translateX(150px);
    transition: all 3s ease-in-out;
}

.fade-in-right.is-visible{
    opacity: 1;
    transform: translateX(0);
}

.cloud{
    width: 100%;
    height: 24rem;
    background-position: center center;
    background-size: cover;
    background-image: url(https://desecure.com.tr/wp-content/uploads/2019/04/Untitled-1.png?id=2104) !important;
}

.mt-mb{
    margin: 70px auto;
}

.left-side{
    display: flex;
}

.info-box-icon{
    position: relative;
    top: 20px;
    margin-right: 20px;
}

.main-title{
    font-family: Roboto;
}

.main-text{
    font-size: 14px;
    font-family: Catamaran;
    font-weight: 100;
}

.carousel-icon{
    color: #000;
    font-size: 40px;
}

.justify-left{
    position: relative;
    left: -150px;
}

.justify-right{
    position: relative;
    right: -150px;
}

#sendmail{
    background-image: url(bg-image5.jpg);
    background-size: cover;
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    margin: 30px;
}

.form-settings{
    background-color: transparent;
    border-radius: 0;
    border-color: #999999;
    padding: 15px 10px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.btn-submit{
    background-color: #999999;
    padding: 12px 30px;
    font-size: 1.2rem;
    color: white;
    border: 0;
    border-radius: 5px;
}

.btn-submit:hover{
    color:  #676767;
    background-color: #dedede;
}

.ptpb{
    padding-top: 85px;
}

.text-title{
    font-size: 26px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    border-width: 10%;
}

#footer{
    background-color: #000;
    padding: 50px 0;
}

.footer-title{
    color: #ffffff;
    font-family: Cataraman;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 5px;
}

.footer-title::before{
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    display: inline-block;
}

.footer-content ul{
    list-style: none;
}

.footer-content ul li a{
    color: rgba(255,255,255,.6);
    text-decoration: none;
    font-family: Cataraman;
    cursor: pointer;
}
.footer-content ul li{
    color: rgba(255,255,255,.6);
    text-decoration: none;
    font-family: Cataraman;
}

.mb-40{
    margin-bottom: 60px;
}

.footer-content ul li a:hover{
    color: #fff;
}

.text-color{
    border-top: 1px solid rgba(255,255,255,.2);
    padding-top: 25px;
    margin-top: 50px;
    color: rgba(255,255,255,.6);
}

.text-color a{
    color: rgba(255,255,255,.6);
}

.text-color a:hover{
    color: white;
    text-decoration: none;
}